## Task 3- Python

### Import Libraries

In [1]:
#import some libraries for analysis
import pandas as pd
import numpy as np

# Import Libraries for visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Import libraries for train test split
from sklearn.model_selection import train_test_split

# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel("rawdata.xlsx")

In [3]:
data

          date      time  sensor location  number activity position location.1
0   2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1   2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2   2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3   2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4   2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5
..         ...       ...     ...      ...     ...      ...      ...        ...
170 2024-01-18  12:45:05     0.0       A8       2   placed   inside         A8
171 2024-01-18  12:53:10     1.0       A9       2   picked   inside         A9
172 2024-01-18  12:59:10     1.0      A10       2   placed  outside        A10
173 2024-01-18  13:10:20     1.0      A11       2   picked   Inside        A11
174 2024-01-18  13:18:30     0.0      A12       2   placed   inside        A12

[175 rows x 8 columns]

In [4]:
data.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [5]:
data.tail()

          date      time  sensor location  number activity position location.1
170 2024-01-18  12:45:05     0.0       A8       2   placed   inside         A8
171 2024-01-18  12:53:10     1.0       A9       2   picked   inside         A9
172 2024-01-18  12:59:10     1.0      A10       2   placed  outside        A10
173 2024-01-18  13:10:20     1.0      A11       2   picked   Inside        A11
174 2024-01-18  13:18:30     0.0      A12       2   placed   inside        A12

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    datetime64[ns]
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 11.1+ KB

In [7]:
data.describe()

           sensor      number
count  174.000000  175.000000
mean     0.511494    1.165714
std      0.501310    0.372891
min      0.000000    1.000000
25%      0.000000    1.000000
50%      1.000000    1.000000
75%      1.000000    1.000000
max      1.000000    2.000000

In [8]:
data.nunique()

date            3
time          140
sensor          2
location       34
number          2
activity        2
position        3
location.1     34
dtype: int64

In [9]:
data.columns

Index(['date', 'time', 'sensor', 'location', 'number', 'activity', 'position',
       'location.1'],
      dtype='object')

In [10]:
data=data.drop('location.1', axis=1)

In [11]:
data=data.drop('location.1', axis=1)

KeyError: "['location.1'] not found in axis"

In [12]:
data.dropna(inplace=True)

In [13]:
data['date'] = pd.to_datetime(data['date'])

In [14]:
inside_activities = data[data['position'].str.lower() == 'inside']
outside_activities = data[data['position'].str.lower() == 'outside']

In [15]:
inside_activities

          date      time  sensor location  number activity position
0   2024-01-16  10:10:30     0.0       A1       1   placed   inside
1   2024-01-16  10:12:30     1.0       A2       1   picked   inside
2   2024-01-16  10:28:30     1.0       A3       1   picked   Inside
3   2024-01-16  10:38:20     0.0       A4       1   placed   Inside
4   2024-01-16  10:45:20     1.0       A5       1   placed   inside
..         ...       ...     ...      ...     ...      ...      ...
169 2024-01-18  12:35:30     1.0       A7       2   picked   inside
170 2024-01-18  12:45:05     0.0       A8       2   placed   inside
171 2024-01-18  12:53:10     1.0       A9       2   picked   inside
173 2024-01-18  13:10:20     1.0      A11       2   picked   Inside
174 2024-01-18  13:18:30     0.0      A12       2   placed   inside

[170 rows x 7 columns]

In [16]:
data['time'] = data['time'].astype(str)

In [17]:
data['time'] = pd.to_datetime(data['time'])

In [20]:
duration_data = data.groupby(['date', 'position'])['time'].apply(lambda x: (x.max() - x.min()).total_seconds() / 60).reset_index(name='total_duration')

In [21]:
duration_data

        date position  total_duration
0 2024-01-16   Inside        9.833333
1 2024-01-16   inside      717.000000
2 2024-01-17   inside      190.833333
3 2024-01-18   Inside      385.500000
4 2024-01-18   inside      559.833333
5 2024-01-18  outside      357.833333

In [22]:
activity_counts = data.groupby(['date', 'activity']).size().reset_index(name='activity_count')

In [23]:
activity_counts

        date activity  activity_count
0 2024-01-16   picked              40
1 2024-01-16   placed              40
2 2024-01-17   picked              10
3 2024-01-17   placed               9
4 2024-01-18   picked              37
5 2024-01-18   placed              38

In [24]:
picking_placing_counts = activity_counts[activity_counts['activity'].isin(['picked', 'placed'])]

In [25]:
picking_placing_counts_pivot = picking_placing_counts.pivot(index='date', columns='activity', values='activity_count').fillna(0)

In [26]:
picking_placing_counts_pivot.reset_index(inplace=True)

In [27]:
picking_placing_counts_pivot.columns.name = None  # Remove column name
picking_placing_counts_pivot.columns = ['date', 'placing_count', 'picking_count']

In [28]:
print(picking_placing_counts_pivot)

        date  placing_count  picking_count
0 2024-01-16             40             40
1 2024-01-17             10              9
2 2024-01-18             37             38